/* List of common rules to add when needed */

/* Common style for all buttons */
.button {
  cursor: pointer;
  border: none;

  &:not(.disabled):active{
    box-shadow: 0 0 2px 1px var(--main-color);
  }
}

@media (hover: hover) {
  .button:not(.disabled):hover{
    box-shadow: 0 0 2px 1px var(--main-color);
  }
}

.label{
  font-size: large;
  font-weight: bold;
}

.disabled {
  opacity: .4;
}

.accent-1{
  color: var(--accent-1);
}

.accent-1-invert{
  background-color: var(--accent-1);
}

.accent-2{
  color: var(--accent-2);
}

.accent-2-invert{
  background-color: var(--accent-2);
}

.accent-3{
  color: var(--accent-3);
}

.accent-3-invert{
  background-color: var(--accent-3);
}

.accent-4{
  color: var(--accent-4);
}

.accent-4-invert{
  background-color: var(--accent-4);
}

.accent-main{
  color: var(--main-color);
}

.accent-main-invert{
  background-color: var(--main-color);
}

.accent-bg{
  color: var(--main-bg);
}

.accent-bg-invert{
  background-color: var(--main-bg);
}

.main-bg{
  background-color: var(--main-bg);
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-1{
  flex: 1;
}

.row-reverse{
  flex-direction: row-reverse;
}

.sticky{
  position: sticky;
}

.flex-center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.just-start{
  justify-content: flex-start;
}

.just-center{
  justify-content: center;
}

.just-end{
  justify-content: flex-end;
}

.align-center{
  align-items: center;
}

.align-end{
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: large;
}

/* Used for buttons with only text */
.text-button {
  padding: 10px 20px;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  transition: all 50ms linear;
  text-decoration: none;
  color: var(--main-bg);
}

.padding-0{
  padding: 0;
}

.padding-1{
  padding: 1em;
}

.padding-10{
  padding: 10px;
}

.padding-1-0{
  padding: 1em 0;
}

.padding-0-1{
  padding: 0 1em;
}

.margin-0{
  margin: 0;
}

.margin-5-0 {
  margin: 5px 0;
}

.margin-1-0 {
  margin: 1em 0;
}

.margin-08-0 {
  margin: .8em 0;
}

.margin-10{
  margin: 10px;
}

.margin-b6{
  margin-bottom: 6em;
}

.h-100{
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.z-1{
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-100 {
  z-index: 100;
}

.top-0 {
  top: 0;
}

.bottom-0{
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.h-header{
  min-height: 58px;
}

.scroll{
  overflow: auto;
}

.no-scroll{
  overflow: hidden;
}

.min-w-22{
  min-width: 22%;
}

.min-w-50{
  min-width: 50%;
}

.hidden {
  display: none;
}