/* Rules for icons (mainly used fo buttons) */

.icon:has(>i) {
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  background-color: var(--alt-bg);
}

.icon > i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  height: 2em;
  aspect-ratio: 1;
}

.icon-small > i{
  font-size: medium;
}

.icon-only {
  color: var(--accent-3);
  background-color: var(--main-bg);
}

.icon.margin-0-10{
  margin: 0 10px;
}

.icon.margin-0-0-0-10{
  margin: 0 0 0 10px;
}

