/* Rules used to style list of item */

.item-container {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 0 .5rem;
  width: 80%;
  display: flex;
  align-items: center;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
}

.item-name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 1rem;

}

.item-price{
  min-width: fit-content;

  span{
    margin-left: 10px
  }
}

.item-actions{
  justify-content: space-between;
  margin-bottom: 8px;
}

.item-description{
  padding: 0 1rem;
  margin-bottom: 1rem;
  user-select: text;
}

.details[open] .rapid-action{
  display: none;
}

.details[open] .item-title{
  margin-bottom: 1rem;
  padding-top: .5rem;
}

.details[open] .item-short{
  padding-right: 6px;
}
