#starred{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg);
    top: 0;
    left: 0;
    z-index: 10;
}

#starred header{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 8px;
}

#close-starred{
    font-size: x-large;
}